h1{
    background-color: aquamarine;
    color: rgb(255, 200, 0);
    padding: 0%;
  }
  ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
  }
  li{
    display: inline;
    width: 120px;
    background-color:red;
  text-align: center;
  border:2pxx;
  padding: 0%;
  }
  a:link,a:visited{
    display: inline;
    width: 100;
    color: azure;
    text-decoration: none;
    padding: 2px;
  }
  a:hover,a:active{
    background-color: darkgreen;
  }
  body{
      background-color:rgb(35, 8, 50)
  }
  label{
      color: #DF6589FF;
  }
  #sex{
      color:#DF6589FF;
  }